
    <br><br>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4" >
            <table style="max-width: 600px; padding: 10px; margin:0 0 0 22%; border-collapse: collapse;">
                <tr>
                    <td style="background-color: #ffffff; padding: 0">
                        <a href="http://127.0.0.1:8000/">
                        </a>
                    </td>
                </tr>        
                <tr>
                    <td style="background-color: #ffffff; padding: 0">
                        <div style="color: #0c3a6d; margin: 1% 6% 4%; text-align: justify;font-family: sans-serif">
                            <h2 style="color: #0c3a6d; margin: 0 0 7px">Estimado/a {{ request.session.usuario.primer_nombre }} {{ request.session.usuario.apellido_paterno }}, 
                                para poder restablecer su contraseña, haga click en el botón.</h2>
                            <br>
                            <br>
                            <div style="width: 100%; text-align: center">
                                <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #159a80; font-size: 15px;" 
                                    href="http://127.0.0.1:8000/cambiar_contrasena?id={{id}}">Restablecer contraseña</a>	
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-4">
            
        </div>
    </div>
    
    <br><br>


