{% extends "cliente/base_generica.html" %}
{% block content %}
{% load static %}

<div style= "background-image: url({% static 'assets/cliente/registroBackground.jpg'%});background-size::cue">
    <br><br><br>
    <div class="row">
        <div class="col-4">

        </div><br>
        <div class="col-4" style="opacity:1.5">
            <div style="text-align:center">
                <a href="/"><img src="{% static 'assets/img/logo.png'%}"></a>
            </div>
            <div class="registration-form ">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-icon">
                        <span><i class="icon icon-user"></i></span>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center mb-5">
                            <h1 class="heading-section" style="color: #050505">Registro de usuario</h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control item" name="tipo" required>
                            <option value="">Tipo de usuario</option>
                            {% for t in tipo %}
                                <option value="{{t.data.0}}">{{t.data.1}}</option>
                            {% endfor %}
                        </select>
                    </div><br>
                    <div class="form-group" style="text-align:center">
                        <button type="submit" class="btn btn-danger create-account">Modificar datos</button>
                    </div>
                </form>
            </div>
            {{mensaje}}
        </div>

    </div>
    <div class="col-4">

    </div>
    <br><br><br><br>
</div>

{% endblock content %}